<header>
  <div class="logo-title">
    <div class="logo-container">
      <img src="images/logo-sims-4-encyclopedie-couleur.png" />
    </div>
    <h1>
      <a routerLink="/"> Sims 4 Encyclopédie </a>
    </h1>
  </div>
  <nav>
    <a routerLink="/gestion/dlc">DLC</a>
    <a routerLink="/gestion/competence">Compétences</a>
    <a routerLink="/gestion/carriere">Carrières</a>
    <a routerLink="/gestion/aspiration">Aspirations</a>
    <a routerLink="/gestion/trait">Traits</a>
    <a href="">
      <p-avatar icon="pi pi-user" shape="circle" class="login-btn" />
    </a>
  </nav>
</header>
