:host ::ng-deep .p-datatable-sort-icon {
  color: white;
  border-color: white;
}

:host ::ng-deep .trait-colonne-nom:hover .p-datatable-sort-icon {
  color: #35985c !important;
  border-color: #35985c !important;
}

:host ::ng-deep .trait-colonne-type:hover .p-datatable-sort-icon {
  color: #35985c !important;
  border-color: #35985c !important;
}

:host ::ng-deep .trait-colonne-categorie:hover .p-datatable-sort-icon {
  color: #35985c !important;
  border-color: #35985c !important;
}
