footer {
    background: linear-gradient(90deg, #2f855a, #276749);
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 1.8rem 0;
    margin-top: 4rem;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.2);
}