.hero {
    background-image: url('https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-4-keyart.jpg.adapt.crop16x9.575p.jpg');
    /* background-image: url('https://media.contentapi.ea.com/content/dam/eacom/SIMS/Console/EA-generic-16-9.jpg.adapt.crop16x9.1023w.jpg'); */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 7rem 1rem;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.45);
}

.hero h2 {
    font-size: 2.8rem;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
}

.hero p {
    margin-top: 1rem;
    font-size: 1.2rem;
}


.content-section {
    max-width: 1100px;
    margin: 3rem auto;
    padding: 0 1rem;
}

.section-title {
    font-size: 2rem;
    color: #2f855a;
    margin-bottom: 1.5rem;
    border-left: 6px solid #48c774;
    padding-left: 0.7rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.8rem;
}

a {
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card h3 {
    margin: 1rem;
    color: #2f855a;
    font-size: 1.3rem;
}

.card p {
    margin: 0 1rem 1.2rem;
    font-size: 0.95rem;
    color: #555;
}