body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f3faf5;
    color: #333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}