*::selection {
    background-color: #48c774;
    color: white;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f3faf5;
    color: #333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body a {
    text-decoration: none;
}

main {
    flex: 1;
}

/* Content section */
.content-section {
    max-width: 1100px;
    margin: 3rem auto;
    padding: 0 1rem;
}

.section-title {
    font-size: 2rem;
    color: #2f855a;
    margin-bottom: 1.5rem;
    border-left: 6px solid #48c774;
    padding-left: 0.7rem;

    display: flex;
    justify-content: space-between;
}

.section-title .simple-btn {
    background-color: #48c774;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

.simple-btn:hover {
    background-color: #2f855a;
}

/* Tableau de gestion */
.tableau-gestion {
    width: 100%;
    margin: 2rem auto;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
}

.tableau-gestion th, .tableau-gestion td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tableau-gestion th {
    background-color: #48c774;
    color: white;
}

.tableau-gestion thead th:first-child {
    border-radius: 8px 0 0 0;
}

.tableau-gestion thead th:last-child {
    border-radius: 0 8px 0 0;
}

.tableau-gestion tr:hover {
    background-color: #ededed;
}

.img-logo {
    width: 50px;
    height: auto;
}

.description {
    max-height: 60px;
    overflow: auto;
}

.action-btn {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 0.5rem;
    color: white;
}

.edit-btn {
    background-color: #3182ce;
    transition: background-color 0.3s;
}

.edit-btn:hover {
    background-color: #19446c;
}

.delete-btn {
    background-color: #e53e3e;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #6a1e1e;
}

/* Formulaire d'ajout */
.formulaire-ajout {
    background-color: #ffffff;
    border-top: 3px solid #48c774;
    border-radius: 12px;
    max-width: 700px;
    margin: 3rem auto;
    padding: 2rem 2.5rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.grid-ajout {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 1rem 1.5rem;
}

.grid-ajout label {
    font-weight: 500;
}

.formulaire-ajout .input-date {
    -webkit-appearance: none;
    appearance: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
    color: #333;
}

.formulaire-ajout .input-classique, .formulaire-ajout .input-date {
    width: 95%;
    padding: 0.7rem;
    /* margin: 0.5rem 0; */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.95rem;
    color: #333;
    transition: border 0.3s, box-shadow 0.3s;
    font-weight: 400;
}

.formulaire-ajout .input-classique:focus, .formulaire-ajout .input-date:focus {
    border-color: #48c774;
    box-shadow: 0 0 5px rgba(72,199,116,0.5);
    outline: none;
}

.formulaire-ajout .input-radio {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    color: #444;
}

.formulaire-ajout .input-radio label {
    cursor: pointer;
    padding: 0 0.2rem;
}

.formulaire-ajout .input-radio input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 1px solid #ccc;
    transition: 0.2s all linear;
    margin-right: 5px;

    vertical-align: -15%;
    margin-right: 0.4rem;
}

.formulaire-ajout .input-radio input:checked {
    border: 4px solid #2f855a;
}

.formulaire-ajout textarea {
    resize: vertical;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.formulaire-ajout select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
    color: #333;
    cursor: pointer;
    transition: border 0.3s, box-shadow 0.3s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%232f855a' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
}


.formulaire-ajout select:focus {
    border-color: #48c774;
    box-shadow: 0 0 5px rgba(72,199,116,0.5);
    outline: none;
}

.formulaire-ajout select option:checked {
    font-weight: bold;
}

.add-btn {
    background-color: #48c774;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

.formulaire-ajout div {
    height: auto;
}

.add-btn:hover {
    background-color: #2f855a;
}