<p-dialog [visible]="isVisible()" [style]="{ width: '450px' }" [header]="title()" [modal]="true">
  <ng-template #content>
    <form [formGroup]="formGroup">
      <div class="flex flex-col gap-6">
        @if (formGroup.controls.img.value) {
          <img
            [src]="formGroup.controls.img.value"
            [alt]="'Logo ' + formGroup.controls.nom.value"
            class="block w-24 m-auto pb-4"
          />
        }
        <!-- Nom -->
        <div>
          <label for="nom" class="block font-semibold mb-3">Nom</label>
          <input type="text" id="nom" pInputText formControlName="nom" autofocus [fluid]="true" />
          @if (formGroup.controls.nom.invalid && formGroup.controls.nom.touched) {
            <small>Le nom est requis.</small>
          }
        </div>
        <!-- Date de sortie -->
        <div>
          <label for="date-sortie" class="block font-semibold mb-3">Date de sortie</label>
          <p-datepicker
            formControlName="dateSortie"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="date-sortie"
            dateFormat="dd/mm/yy"
            [pt]="datepickerPt"
            appendTo="body"
            required
            [fluid]="true"
          />
          @if (formGroup.controls.dateSortie.invalid && formGroup.controls.dateSortie.touched) {
            <small>La date est requise.</small>
          }
        </div>
        <!-- Description -->
        <div>
          <label for="description" class="block font-semibold mb-3">Description</label>
          <textarea
            id="description"
            pTextarea
            formControlName="description"
            required
            rows="3"
            cols="20"
            [fluid]="true"
          ></textarea>
          @if (formGroup.controls.description.invalid && formGroup.controls.description.touched) {
            <small>La description est requise.</small>
          }
        </div>
        <!-- Logo -->
        <div>
          <label for="img" class="block font-semibold mb-3">Logo</label>
          <input type="text" pInputText id="img" formControlName="img" [fluid]="true" />
        </div>
        <!-- Type de DLC -->
        <div>
          <label for="type" class="block font-semibold mb-3">Type de DLC</label>
          <p-select
            formControlName="type"
            inputId="type"
            [options]="types()"
            optionLabel="nom"
            placeholder="Sélectionne un type"
            appendTo="body"
            required
            [fluid]="true"
          />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <div class="flex gap-2 mt-3">
      <p-button label="Annuler" icon="pi pi-times" text (click)="onCancel()" />
      <p-button
        label="Enregistrer"
        icon="pi pi-check"
        (click)="onSubmit()"
        [disabled]="formGroup.invalid"
      />
    </div>
  </ng-template>
</p-dialog>
